<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sigmar&family=Signika+Negative&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <header><%= title %></header>
    <nav>
      <!-- <% if(user) { %>
      <a href="/posts">Diary</a>
      <a href="/logout">LOG OUT</a> -->
      <!-- <% } else { %> -->
      <a href="/auth/google" class="login">LOG IN</a>
      <!-- <% } %> -->
    </nav>
    <main>
      <p>Welcome to <%= title %></p>
      <p>Log your daily meals</p>
    </main>
  </body>
</html>
