<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <section>
      <header class="main-title"><%= title %></header>
    </section>
    <main>
      <p>Welcome to <%= title %></p>
      <p>Log your daily meals</p>
    </main>
    <div class="login">
      <a href="/auth/google">LOG IN</a>
    </div>
    <div class="contact">
      <a href="https://github.com/chajiiiii">CONTACT</a>
    </div>
  </body>
</html>
