* {
  font-family: "Roboto Slab", serif;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --light-accent: #fcf6bd;
  --mid-accent: #ffee93;
  --dark-accent: #ffdc5e;
  --grey: #969696;
}

html {
  height: 100%;
}

body {
  background-color: var(--white);
  max-height: 100%;
}

a {
  color: var(--grey);
  text-decoration: none;
}

section {
  border: 50px solid var(--mid-accent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 7.5rem;
}

header {
  font-size: 3rem;
  font-weight: 600;
  width: 10rem;
}

main {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  top: 50%;
}

.login,
.contact {
  text-align: center;
  font-size: 1.3rem;
  height: 5vh;
  margin: 1rem 0;
  position: absolute;
  left: 50%;
}

.login {
  transform: translate(-50%, -50%);
  top: 60%;
}

.contact {
  transform: translate(-50%, -50%);
  top: 65%;
}

.login > a:hover,
.contact > a:hover {
  text-decoration: underline var(--dark-accent);
  color: var(--black);
}
