* {
  font-family: "Signika Negative", sans-serif;
  /* border: solid 1px grey; */
}

@media screen and (max-width: 425px) {
  html {
    height: 100%;
  }

  body {
    background-color: antiquewhite;
    height: 100vh;
    max-height: 100%;
  }

  nav {
    text-align: center;
    font-size: 2rem;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
  }

  a {
    color: grey;
    text-decoration: none;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 3rem;
    margin-top: 20rem;
    font-family: "Sigmar", cursive;
  }

  main {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
  }
}
