:root {
  --white: #ffffff;
  --black: #000000;
  --light-accent: #fcf6bd;
  --mid-accent: #ffee93;
  --dark-accent: #ffdc5e;
  --grey: #969696;
}

.my-profile,
.edit-my-profile,
.edit-post-page {
  text-align: center;
  position: relative;
  top: 10%;
  text-decoration: underline var(--dark-accent);
}

/* ------------------ New Post Page ------------------*/

.posts-header {
  background-color: var(--dark-accent);
  color: var(--black);
  display: flex;
  position: fixed;
  top: 0;
  margin: 0 auto;
  padding: 0.3rem;
  font-size: 1rem;
  width: 100%;
  z-index: 4;
}

.new-post-body-tag {
  background-color: var(--light-accent);
}

.new-post-page {
  text-align: center;
  position: relative;
  top: 10%;
  text-decoration: underline var(--dark-accent);
}

.new-post-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem auto;
  height: 50%;
  width: 50%;
}

.btn-warning {
  background-color: var(--dark-accent);
  border: solid 1px var(--dark-accent);
  margin: 1rem;
}

/* ------------------ Post Edit Page ------------------*/

.edit-post-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10rem auto;
  height: 50%;
  width: 50%;
}

.edit-post-img > img {
  min-width: 150px;
  max-width: 240px;
  min-height: 150px;
  max-height: 150px;
  border-radius: 10px;
  margin: 0;
}

.no-img {
  display: flex;
  align-items: center;
  margin: 0;
}

/* ------------------ Profile Page ------------------*/

.profile-body-tag {
  background-color: var(--white);
}

.profile {
  background-color: var(--white);
  border: solid 5px var(--dark-accent);
  border-radius: 10px;
  width: 17rem;
  margin: 10rem auto 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img > img {
  min-width: 150px;
  max-width: 240px;
  min-height: 150px;
  max-height: 150px;
  border: solid 5px var(--white);
  border-radius: 10px;
  margin: 1rem 1rem 0.3rem 1rem;
}

.profile-name {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.profile-name > p {
  margin: 0;
  text-align: center;
}

.profile-bio {
  background-color: var(--white);
  border: solid 3px var(--dark-accent);
  border-radius: 10px;
  width: 240px;
  text-align: center;
  padding: 3rem 0;
  margin: 0.6rem 0;
}

.profile-bio > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.profile-edit-btn {
  background-color: var(--dark-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0.5rem 0;
  text-decoration: none;
  color: var(--black);
}

.profile-edit-btn:hover {
  color: var(--black);
}

/* ------------------ Profile Edit Page ------------------*/

.profile-edit-form {
  background-color: var(--white);
  border: solid 5px var(--dark-accent);
  border-radius: 10px;
  width: 17rem;
  margin: 10rem auto 10rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-edit-avatar {
  min-width: 150px;
  max-width: 240px;
  min-height: 150px;
  max-height: 150px;
  margin: 1rem 0;
}

.profile-edit-btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.submit-btn,
.discard-btn {
  display: inline-block;
  margin: 0;
  width: 47%;
}
