:root {
  --white: #ffffff;
  --black: #000000;
  --light-accent: #fcf6bd;
  --mid-accent: #ffee93;
  --dark-accent: #ffdc5e;
  --green: #a9e1ba;
  --light-green: #d6eadf;
  --blue: #b6ccfe;
  --light-blue: #dfe7fd;
  --yellow: #ffee93;
  --light-yellow: #fcf6bd;
  --dark-yellow: #ffdc5e;
  --grey: #969696;
}

.sub-body-tag {
  background-color: var(--light-accent);
}

.sub-header {
  position: relative;
}

.new-post-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem auto;
  padding: 2rem 0;
  background-color: var(--light-accent);
  height: 50%;
  width: 50%;
}

.btn-warning {
  background-color: var(--dark-accent);
  border: solid 1px var(--dark-accent);
  margin: 1rem;
}
