* {
  font-family: "Roboto Slab", serif;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --accent: #ffee93;
  --light-accent: #fcf6bd;
  --dark-accent: #ffdc5e;
  --green: #a9e1ba;
  --light-green: #d6eadf;
  --blue: #b6ccfe;
  --light-blue: #dfe7fd;
  --yellow: #ffee93;
  --light-yellow: #fcf6bd;
  --dark-yellow: #ffdc5e;
  --grey: #969696;
}

.post-bar-toggle-btn {
  /* display: none; */
  position: absolute;
  align-items: center;
  font-size: 1.1rem;
  right: 3rem;
  padding-top: 0.75rem;
}

@media screen and (max-width: 425px) {
  html {
    height: 100%;
  }

  body {
    background-color: var(--accent);
    margin: 0;
    height: 100vh;
    max-height: 100%;
  }

  header {
    background-color: var(--light-accent);
    color: var(--black);
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0.3rem;
    font-size: 0.7rem;
  }

  section {
    padding-bottom: 4rem;
  }

  nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 4;
  }

  h1 {
    margin: 0;
    padding: 0.3rem 0.5rem;
  }

  .nav-lists {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--white);
  }

  .nav-list {
    width: 24%;
    display: inline-block;
    list-style: none;
  }

  .nav-list > a {
    display: block;
    margin: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none;
    color: var(--grey);
    font-size: 0.85rem;
  }

  .nav-list > a > i {
    display: block;
  }

  /* .nav-toggle {
    display: none;
    position: absolute;
    font-size: 1.3rem;
    right: 5.6rem;
    top: 1.3rem;
  } */

  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-date-board {
    background-color: var(--dark-accent);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0.7rem 0;
  }

  .post {
    background-color: var(--white);
    border-radius: 10px;
    width: 97%;
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .post-date {
    margin: 0.5rem;
    font-size: 1.2rem;
  }

  .post-meal-type {
    background-color: var(--dark-accent);
    border-radius: 10px;
    width: 96%;
    text-align: center;
    margin: 0.3rem 0;
    padding: 0.3rem 0;
    font-size: 1.3rem;
    display: inline;
    position: relative;
    z-index: 1;
  }

  .toggle-div {
    display: flex;
  }

  .post-bar-toggle {
    position: relative;
    display: inline-block;
  }

  .post-bar-toggle-btn {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translate(140px, -137%);
    font-size: 1.1rem;
    z-index: 2;
  }

  .post-bar-list {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 2rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px var(--grey);
    right: 100%;
    top: 0;
    margin: -0.5rem -10rem 0 0;
    z-index: 1;
    border-radius: 5px;
  }

  .post-bar-list.active {
    display: block;
  }

  .post-edit-btn,
  .post-delete-btn {
    color: var(--black);
    padding: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1rem;
  }

  .post.edit-btn .delete-form {
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
  }

  .post-delete-btn {
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: none;
    display: block;
  }

  .post-photo {
    width: 96%;
    max-width: 22rem;
    max-height: 21rem;
    border-radius: 10px;
    display: block;
  }

  .post-sub {
    display: flex;
    width: 96%;
    background-color: var(--dark-accent);
    border-radius: 10px;
    margin-top: 0.3rem;
  }

  .post-meal-time,
  .post-weight {
    text-align: center;
    width: 50%;
    margin: 0.5rem 0;
  }

  .post-text {
    white-space: pre-line;
    width: 90%;
  }
}
